ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 12px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

#userList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center; /* Centers the cards horizontally */
}

.user-card {
  border: 1px solid #ccc;
  padding: 15px;
  width: 200px; /* Set a fixed width for each card */
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center text inside the card */
}

.user-card h3 {
  margin-top: 0;
  color: #333;
}

.user-card p {
  margin: 5px 0;
}

